.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}
a {
  text-decoration: none;
  color: #000;
}
.button-secondary {
  color: white;
  background: rgb(66, 184, 221);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}